@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.text {
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 12em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
body{
    max-width: 1200px;
    /*border: 1px solid gray;*/
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
header{
    /*background-image: url(banner-min.png);*/
    /*background-size: cover;*/
    width: 100%;
    color: #B73225;
    /*opacity: 0.3;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*text-align: center;*/
    height: 120px;
}
header:before{
    content: "";
    background-image: url(banner-min.png);
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    height: 120px;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    max-width: 1200px;
    margin: 0 auto;
}
nav{
    width: 100%;
    background-color: #DCE1E3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2px;
}
nav a{
    font-weight: bold;
    color: white;
    background-color: #B73225;
    min-width: 10rem;
    text-align: center;
    margin-bottom: 3px;
    padding: 10px;
    border-radius: 3px;
}
main{
    /*border: 1px solid gray;*/
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
section{
    flex:1;
    background-color:#DCE1E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 3px;
}
section p{
    text-align: center;
}
section a{
    text-decoration: none;
    color: #B73225;
    font-weight: bold;
    border: 1px solid #B73225;
    padding: 10px;
    border-radius: 3px;
}
footer{
    background-color:#DCE1E3;
    border-top: 2px solid #B73225;
    width: 100%;
    margin-top: 5px;
}